@font-face{
    font-family: "Helvetica-Bold";
    src:url(Helvetica-Bold.ttf) format("truetype");
}
@font-face{
    font-family: "Helvetica-Light";
    src:url(Helvetica-Light.ttf) format("truetype");
}
body {
    margin: 0;
}

.wrapper{
    width:600px;
    height:600px;
    margin:0 auto;
    background: #fff;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;


}

.hey img{
    transform: rotate(-360deg);
    float:right;
    width:17px;
    height:17px;
    margin:5px 5px 13px 0;

}

.hey p
{
    font-family: ArialMT;
    font-size: 12px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:56px;
    height:14px;
    
    margin:6px 2px 14.5px 86%;
}
.hey:after{
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family: Helvetica-Bold;
    font-size: 54px;
    color: #397ACD;
    letter-spacing: 0;
    line-height: 60px;
    height:168px;
    margin:0 20px 15px 20px;
    

}
.hi p
{
    font-family: Helvetica-Light;
    font-size: 38px;
    color: #7C7C7C;
    letter-spacing: 0;
    line-height: 46px;
    height:222px;
    margin:15px 20px;
}
.decorate a
{
    font-family: Helvetica;
    font-size: 20px;
    color: #F276E2;
    letter-spacing: 0;
    line-height: 14px;
    text-decoration:none;
    width:119px;
    height:14px;
    margin:101px 379px 7.5% 20px;
    display:block;

}
.image{
   
    
    width:62px;
    height:61px;
    margin:0;
    
    
    display:inline-block;
    position: absolute;
    left:518px;

    right:20px;
    top:518px;
    bottom:21px;
    float:right;
}
/*-----------------------------*/
@media only screen and (width:226px) and (height:264px)

{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:226px;
        height:264px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
    transform: rotate(-360deg);
    position:relative;
   float:right;
    width:11px;
    height:11px;
    margin:3px 3px 6px 0;
    


}

.hey p
{
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    line-height: 10px;
    margin:3px 2px 7px 74.5%;
    
}
    
    
    .hi h1{
        font-family: Helvetica-Bold;
        font-size: 22px;
        color: #397ACD;
        letter-spacing:0;
        line-height:26px;
        width:205px;
        height:78px;
        margin:0 10px 15px 10px;
        
    
    }
    .hi p
    {
        font-family: Helvetica-Light;
        font-size:13px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height:17px;
        width:206px;
        height:105px;
        margin:0 10px 15px 10px;
        
    }
   .hi p:after{
       content:"Lorem Ipsum is placeholder";
       display:inline;
       clear:both;
   }

.hey:after{
    content:"";
    display:block;
    clear:both;
}
.decorate {
    
    margin:10px 104.3px 8.41% 10px;
   
    
}
.decorate a
{
    font-family: Helvetica;
    font-size: 12px;
    color: #F276E2;
    letter-spacing: 0;
    line-height: 12px;
    text-decoration:none;
    width:72px;
    height:12px;
    /* margin:25px 104.3px 8.41% 10px; */
    margin:0px;
    
    
    display:block;
    float: none;
   
}
.image{
   
    
    width:29.1px;
    height:29.9px;
    margin:0;
    
    display:inline-block;
    position: absolute;
    left:186.3px;

    right:10.6px;
    top:224px;
    bottom:10.1px;
    float:none;
}
.decorate:after{
    content:"";
    display: block;
    clear:both;
}



}
/**---------------------------------------------***/
@media only screen and (width:300px) and (height:600px)
{

    
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:300px;
        height:600px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
}
.hey img{
    transform: rotate(-360deg);
    position:relative;
   float:right;
    width:11px;
    height:11px;
    margin:3px 3px 28px 0;
}

.hey p
{
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 29px 80.7%;
    
}
.hi:after {
    content:"";
    display:block;
    clear:both;
}
.hey:after{
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 38px;
    color: #397ACD;
    letter-spacing:0;
    line-height:42px;
    text-align:center;
    width:272px;
    height:210px;
    margin:0 14px 15px 14px;
    

}
.hi p
    {
        font-family: Helvetica-Light;
        font-size:22px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height:31px;
        width: 272px;
        height:180px;
        margin:0 14px 10px 14px;
        text-align:center;
    }
    .decorate {
    
        margin:20px 105px 119px 105px;
       
        
    }
    .decorate a
    {
        font-family: Helvetica;
        font-size: 15px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 14px;
        text-decoration:none;
        width:90px;
        height:14px;
        /* margin:25px 104.3px 8.41% 10px; */
        margin:0px;
        display:block;
        float: none;
       
    }
    .image{
   
    
        width:55px;
        height:54px;
        margin:0;
        
        
        display:inline-block;
        position: absolute;
        left:123px;
    
        right:122px;
        top:502px;
        bottom:44px;
        float:none;
    }
    .decorate:after{
        content:"";
        display: block;
        clear:both;
    }
}
/****----------------------****-------*/
@media only screen and (width:160px) and (height:600px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:160px;
        height:600px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
       float:right;
        width:11px;
        height:11px;
        margin:3px 3px 39px 0;
    }
    .hey p
   {
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 40px 63.75%;
    
}
.hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 31px;
    color: #397ACD;
    letter-spacing:0;
    line-height:29px;
    text-align:center;
    width:150px;
    height:203px;
    margin:0 5px 10px 5px;
    

  }
  .hi p
    {
        font-family: Helvetica-Light;
        font-size:17px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height:22px;
        width: 150px;
        height:195px;
        margin:0 5px 10px 5px;
        text-align:center;
    }
    .hi:after{
        content:"";
        display:block;
        clear:both;
    }
    .decorate {
    
        margin:10px  44px 117px 44px;
       
    }
    .decorate a
    {
        font-family: Helvetica;
        font-size: 12px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 12px;
        text-decoration:none;
        width:72px;
        height:12px;
        /* margin:25px 104.3px 8.41% 10px; */
        margin:0px;
        display:block;
        float: none;
       
    }
    .image{
   
    
        width:55.2px;
        height:55.2px;
        margin:0;
        
        
        display:inline-block;
        position: absolute;
        left:52.6px;
    
        right:52.2px;
        top:493px;
        bottom:51.8px;
        float:none;
    }
}
/*-------------------------------------------------***********/
@media only screen and (width:300px) and (height:250px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:300px;
        height:250px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
       float:right;
        width:11px;
        height:11px;
        margin:3px 3px 6px 0;
    }
    .hey p
   {
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 7px 80.67%;
    
}
.hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 25px;
    color: #397ACD;
    letter-spacing:0;
    line-height:29px;
    
    width:275px;
    height:90px;
    margin:0 15px 5px 15px;
 }
  .hi p
    {
        font-family: Helvetica-Light;
        font-size:14px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height:17px;
        width: 280px;
        height:68px;
        margin:0 10px 10px 10px;
        
    }
    .hi:after{
        content:"";
        display:block;
        clear:both;
    }
    .decorate {
    
        margin:35px  224px 18px 10px;
       
    }
    .decorate a
    {
        font-family: Helvetica;
        font-size: 11px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 14px;
        text-decoration:none;
        width:66px;
        height:14px;
        /* margin:25px 104.3px 8.41% 10px; */
        margin:0px;
        display:block;
        float:none;
       
    }
    .image{
        width:28.8px;
        height:29.7px;
        margin:0;
        display:inline-block;
        position: absolute;
        left:260.3px;
        right:10.9px;
        top:210px;
        bottom:10.3px;
        float:none;
    }
    
    

}
/****
****
****
***
*****
*/
@media only screen and (width:250px) and (height:250px){
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:250px;
        height:250px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
       float:right;
        width:11px;
        height:11px;
        margin:3px 3px 6px 0;
    }
    .hey p
   {
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 7px 76.8%;
    
}
.hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 22px;
    color: #397ACD;
    letter-spacing:0;
    line-height:27px;
    
    width:230px;
    height:78px;
    margin:0 10px 5px 10px;
 }
 .hi p
    {
        font-family: Helvetica-Light;
        font-size:12px;
        color: #7C7C7C;
        letter-spacing: 0;
        line-height:16px;
        width: 230px;
        height:81px;
        margin:0 10px 35px 10px;
        
    }
    .hi p:after{
        content:"Lorem Ipsum is placeholder";
        display:inline;
        clear:both;
    }
    .decorate {
    
        margin:35px  168px 19px 10px;
       
    }
    .decorate a
    {
        font-family: Helvetica;
        font-size: 12px;
        color: #F276E2;
        letter-spacing: 0;
        line-height: 14px;
        text-decoration:none;
        width:72px;
        height:12px;
        /* margin:25px 104.3px 8.41% 10px; */
        margin:0px;
        display:block;
        float:none;
       
    }
    .image{
        width:29.1px;
        height:29.9px;
        margin:0;
        display:inline-block;
        position: absolute;
        left:210.3px;
        right:10.6px;
        top:210px;
        bottom:10.1px;
        float:none;
    }
 



}
/******---------------------------
-----------------***
***
*/
@media only screen and (width:336px) and (height:280px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:336px;
        height:280px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
       float:right;
        width:11px;
        height:11px;
        margin:3px 3px 1px 0;
    }
    .hey p
   {
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 2px 82.74%;
    
}
.hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 26px;
    color: #397ACD;
    letter-spacing:0;
    line-height:31px;
    width:306px;
    height:93px;
    margin:0 15px 5px 15px;
 }
 .hi p
 {
     font-family: Helvetica-Light;
     font-size:15px;
     color: #7C7C7C;
     letter-spacing: 0;
     line-height:20px;
     width: 306px;
     height:100px;
     margin:0 10px 29px 10px;
     
 }
 .hi p:after{
     content:"Lorem Ipsum is placeholder";
     display:inline;
     clear:both;
 }
 .decorate {
    
    margin:29px  249px 26px 15px;
   
}
.decorate a
{
    font-family: Helvetica;
    font-size: 12px;
    color: #F276E2;
    letter-spacing: 0;
    line-height: 14px;
    text-decoration:none;
    width:72px;
    height:12px;
    /* margin:25px 104.3px 8.41% 10px; */
    margin:0px;
    display:block;
    float:none;
   
}
.image{
    width:33.1px;
    height:33.2px;
    margin:0;
    display:inline-block;
    position: absolute;
    left:287.3px;
    right:15.4px;
    top:231px;
    bottom:15.8px;
    float:none;
}

 
 

}
/**------------------------------************/
@media only screen and (width:728px) and (height:90px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:728px;
        height:90px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
        float:right;
        width:11px;
        height:11px;
        margin:3px 3px 3.8px 0;
    }
    .hey p
   {
    font-family: ArialMT;
    font-size: 9px;
    color: #919191;
    letter-spacing: 0;
    float:right;
    width:42px;
    height:10px;
    position:absolute;
    right:0;
    left:0;
    top:2px;
    bottom:0;
    line-height: 10px;
    margin:3px 2px 4.8px 92.31%;
    
}
.hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 21px;
    color: #397ACD;
    letter-spacing:0;
    line-height:27px;
    
    width:519px;
    height:25px;
    margin:0 194px 2px 15px;
 }
 .hi p
 {
     font-family: Helvetica-Light;
     font-size:19px;
     color: #7C7C7C;
     letter-spacing: 0;
     line-height:32px;
     width: 676px;
     height:26px;
     margin:0 37px 19px 15px;
     text-overflow: ellipsis;
     overflow:hidden;
     white-space: nowrap;
     
 }
 .decorate{display: none;}
}
/**------**/
@media only screen and (width:414px) and (height:74px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:414px;
        height:74px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
        float:right;
        width:11px;
        height:11px;
        margin:3px 3px 0 0;
    }
    .hey p
    {
     font-family: ArialMT;
     font-size: 9px;
     color: #919191;
     letter-spacing: 0;
     float:right;
     width:42px;
     height:10px;
     position:absolute;
     right:0;
     left:0;
     top:2px;
     bottom:0;
     line-height: 10px;
     margin:3px 2px 4px 86%;
     
 }
 .hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 20px;
    color: #397ACD;
    letter-spacing:0;
    line-height:24px;
    width:393px;
    height:48px;
    margin:0 11px 13px 10px;
 }
 .hi h1:after{
     
    content:" 8";
    
    display:inline;
    clear:both;
}
.hi p{
    display: none;
}
.decorate{display: none;}
 
}
/**-------------------------------***/
@media only screen and (width:300px) and (height:50px)
{
    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:300px;
        height:50px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    
    
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
        float:right;
        width:8px;
        height:8px;
        margin:2px 2px 0 0;
    }
    .hey p
    {
     font-family: ArialMT;
     font-size: 6px;
     color: #919191;
     letter-spacing: 0;
     float:right;
     width:28px;
     height:6px;
     position:absolute;
     right:0;
     left:0;
     top:2px;
     bottom:0;
     line-height: 6px;
     margin:2px 2px 3px 86.67%;
     
 }
 .hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 15px;
    color: #397ACD;
    letter-spacing:0;
    line-height:18px;
    width:266px;
    height:36px;
    margin:0 24px 7px 10px;
 }
.hi h1:after {
     content:" 8";
    display:inline;
    
}
.hi p{
    display:none;
}
.image{
    display:none;
}
.decorate{
    display:none;
}
}
/**-----------------------------------------*******/
@media only screen and (width:320px) and (height:50px)
{

    body{
        margin:0;
        position: relative;
    }
    .wrapper{
        width:320px;
        height:50px;
        margin:0 auto;
        background: #fff;
        border: 1px solid #D9D9D9;
    }
    .hey img{
        transform: rotate(-360deg);
        position:relative;
        float:right;
        width:8px;
        height:8px;
        margin:2px 2px 0 0;
    }
    .hey p
    {
     font-family: ArialMT;
     font-size: 6px;
     color: #919191;
     letter-spacing: 0;
     float:right;
     width:28px;
     height:6px;
     position:absolute;
     right:0;
     left:0;
     top:2px;
     bottom:0;
     line-height: 6px;
     margin:2px 2px 3px 87.5%;
     
 }
 .hey:after {
    content:"";
    display:block;
    clear:both;
}
.hi h1{
    font-family:Helvetica-Bold;
    font-size: 15px;
    color: #397ACD;
    letter-spacing:0;
    line-height:19px;
    width:295px;
    height:38px;
    margin:0 15px 6px 10px;
 }
.hi p{display: none;}
 .decorate{display: none;}
}